
.ChoresHeading {
   color: brown;
   font-size: 3vw;
   text-align: center;
   text-decoration: underline;
   font-style: italic;
}

.ChoresText {
   color:orange;
   font-size: 3vw;
   text-align: center;
   font-style:oblique;
}
